<a href="https://colab.research.google.com/github/benyuanben/-data_analytics_2-/blob/main/Unit%203%20-%20Python%20Advanced/Assignments/Unit3_NumPy_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [3]:
import numpy as np

In [4]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

Max number of gold medals 46
index number of maximum element (gold medals) : [3]
The country with Max number of gold medals is: ['US']

## 2.	Find country with maximum gold

In [6]:
highest = np.where(np_olympic_country_Gold== np.max(np_olympic_country_Gold))
print('Max number of gold medals',np.max(np_olympic_country_Gold ))
print('index number of maximum element (gold medals) :', highest[0])
print('The country with Max number of gold medals is:',np_olympic_country[highest])

Max number of gold medals 46
index number of maximum element (gold medals) : [3]
The country with Max number of gold medals is: ['US']

## 3.	Find countries with more than 20 gold medals

In [7]:
more_than_20_medals=np_olympic_country_Gold >20
print(more_than_20_medals)
np_olympic_country_Gold[more_than_20_medals]
x = np.where(np_olympic_country_Gold >20)

[ True  True  True  True False False False]

In [8]:
print('the countrieas with more than 20 medals are:',np_olympic_country[x])

the countrieas with more than 20 medals are: ['GBR' 'China' 'RUS' 'US']

In [9]:
#Find countrieas with more than 20 gold metals
import numpy as np
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
more_than_20_medals=np_olympic_country_Gold >20
print(more_than_20_medals)
np_olympic_country_Gold[more_than_20_medals]
x = np.where(np_olympic_country_Gold >20)

print(x)

[ True  True  True  True False False False]
(array([0, 1, 2, 3]),)